Repository ece461l-fa24-final-project/hardwareby.us, pull requests merged in 2024-11, with the labels that each got.

#63 User Management Form Component
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/UserForm.tsx
  frontend/src/contexts/Auth.tsx
  frontend/src/hooks/Auth.tsx
  frontend/src/views/LoginView.tsx
  frontend/src/views/SignupView.tsx
  scripts/copy_frontend.cmd
Labels: feature, frontend

#69 Add Signupview with Userform intergration for account creation
  frontend/src/views/LoginView.tsx
  frontend/src/views/SignupView.tsx
Labels: feature, frontend

#67 Add API for auth
  backend/.gitignore
  backend/priv/schema.sql
  backend/sql/check_user.sql
  backend/sql/create_user.sql
  backend/src/backend.gleam
  backend/src/backend/auth.gleam
  backend/src/backend/db.gleam
  backend/src/backend/error.gleam
  backend/src/backend/generated/sql.gleam
  backend/src/backend/router.gleam
  backend/src/backend/web.gleam
  backend/test/backend_test.gleam
  backend/test/codegen.gleam
Labels: feature, backend

#73 Project Creation API
  backend/priv/schema.sql
  backend/sql/add_user_to_project.sql
  backend/sql/create_project.sql
  backend/src/backend/db.gleam
  backend/src/backend/generated/sql.gleam
  backend/src/backend/project.gleam
  backend/src/backend/router.gleam
  backend/src/backend/web.gleam
  backend/test/backend_test.gleam
Labels: feature, backend

#75 HardwareSet table + creation API
  backend/priv/schema.sql
  backend/sql/create_hardware_set.sql
  backend/src/backend/db.gleam
  backend/src/backend/generated/sql.gleam
  backend/src/backend/hardware.gleam
  backend/src/backend/router.gleam
  backend/src/backend/web.gleam
  backend/test/backend_test.gleam
Labels: feature, backend

#60 New Project View
  .gitignore
  frontend/src/components/CreateProjectDialog.tsx
  frontend/src/styles/CreateProjectDialog.css
Labels: feature, frontend

#74 Join Project API
  backend/priv/schema.sql
  backend/src/backend/db.gleam
  backend/src/backend/project.gleam
  backend/src/backend/router.gleam
  backend/test/backend_test.gleam
Labels: feature, backend

#62 Project List View
  frontend/src/App.tsx
  frontend/src/components/ProjectList.tsx
  frontend/src/styles/ProjectList.css
  frontend/src/styles/ProjectView.css
  frontend/src/views/ProjectView.tsx
Labels: feature, frontend

#72 Implemented Hardware Dialog component for checkin/out functionality
  frontend/src/components/HardwareDialog.tsx
Labels: feature, frontend

#76 List of Projects API
  backend/priv/schema.sql
  backend/sql/create_project.sql
  backend/sql/get_projects.sql
  backend/src/backend/db.gleam
  backend/src/backend/generated/sql.gleam
  backend/src/backend/project.gleam
  backend/src/backend/router.gleam
  backend/src/backend/web.gleam
  backend/test/backend_test.gleam
  frontend/src/components/CreateProjectDialog.tsx
  frontend/src/components/ProjectList.tsx
  frontend/src/index.css
  frontend/src/styles/CreateProjectDialog.css
  frontend/src/styles/ProjectList.css
  frontend/src/styles/ProjectView.css
  frontend/src/views/ProjectView.tsx
Labels: feature, frontend, backend

#81 API Call refactor
  frontend/src/components/CreateProjectDialog.tsx
  frontend/src/components/ProjectList.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/Auth.tsx
  frontend/src/utils/api.ts
  frontend/src/utils/assert.ts
  frontend/src/views/LoginView.tsx
  frontend/src/views/ProjectView.tsx
  frontend/src/views/SignupView.tsx
  frontend/vite.config.ts
Labels: tech debt, frontend

#82 Project View
  frontend/src/App.tsx
  frontend/src/styles/ProjectView.css
  frontend/src/styles/ProjectsView.css
  frontend/src/views/ProjectView.tsx
  frontend/src/views/ProjectsView.tsx
Labels: feature, frontend

#89 Auth Credential Encryption
  backend/gleam.toml
  backend/manifest.toml
  backend/sql/check_user.sql
  backend/sql/get_user.sql
  backend/src/backend/auth.gleam
  backend/src/backend/db.gleam
  backend/src/backend/error.gleam
  backend/src/backend/generated/sql.gleam
Labels: feature, backend

#84 Get HardwareSet API
  backend/sql/get_hardware_set.sql
  backend/sql/get_hardware_sets.sql
  backend/sql/get_last_rowid.sql
  backend/src/backend/auth.gleam
  backend/src/backend/db.gleam
  backend/src/backend/generated/sql.gleam
  backend/src/backend/hardware.gleam
  backend/src/backend/router.gleam
  backend/src/backend/web.gleam
  backend/test/backend_test.gleam
Labels: feature, backend

#92 Navbar + Logout button
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/styles/Navbar.css
Labels: feature, frontend

#86 React Persistant JWT
  backend/src/backend/router.gleam
  frontend/src/contexts/Auth.tsx
Labels: feature, frontend

#87 HardwareSet Component
  frontend/src/components/HardwareDialog.tsx
  frontend/src/components/HardwareSet.tsx
  frontend/src/styles/HardwareSet.css
Labels: feature, frontend

#93 Fix project view
  backend/sql/get_project.sql
  backend/src/backend/db.gleam
  backend/src/backend/generated/sql.gleam
  backend/src/backend/hardware.gleam
  backend/src/backend/project.gleam
  backend/src/backend/router.gleam
  backend/src/backend/web.gleam
  backend/test/backend_test.gleam
  frontend/src/App.tsx
  frontend/src/components/HardwareSet.tsx
  frontend/src/components/Project.tsx
  frontend/src/components/ProjectList.tsx
  frontend/src/views/ProjectView.tsx
  frontend/src/views/ProjectsView.tsx
Labels: bug, feature, tech debt, frontend, backend

#91 Project creation initializes two default Hardware Sets
  backend/src/backend/db.gleam
  backend/src/backend/project.gleam
  backend/test/backend_test.gleam
Labels: feature, backend

#85 Hardware Set Check Out/Check In API
  backend/sql/update_hardware_set_capacity.sql
  backend/src/backend/db.gleam
  backend/src/backend/generated/sql.gleam
  backend/src/backend/hardware.gleam
  backend/src/backend/router.gleam
  backend/test/backend_test.gleam
Labels: feature, backend

#95 Reload page on API calls to refresh components
  frontend/src/components/CreateProjectDialog.tsx
  frontend/src/components/HardwareSet.tsx
  frontend/src/components/JoinProjectDialog.tsx
Labels: feature, frontend
